<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- load MUI -->
    <link href="//cdn.muicss.com/mui-0.9.39/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.9.39/js/mui.min.js"></script>

    <title>{{.Title}}</title>
    <script type="text/javascript">
        function sendForm() {
            forms = document.getElementsByTagName("form");
            for (var i = 0; i < forms.length; i++) {
                s = {};
                inputs = forms[i].getElementsByTagName("input");
                for (var j = 0; j < inputs.length; j++) {
                    if (inputs[j].type != "submit") {
                        if (inputs[j].type == "number") {
                            s[inputs[j].name] = parseInt(inputs[j].value)
                        } else {
                            s[inputs[j].name] = inputs[j].value
                        }
                    }
                }
                var xhr = new XMLHttpRequest();
                xhr.open('POST', window.location.pathname.replace(/^(\/read\/)/, "\/edit\/"));
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.send(JSON.stringify(s))
                xhr.onload = function () {
                }
                alert("configuration changed!")
            }
        }
    </script>
</head>

<body>
    <div class="mui-container">
        <div class="mui-panel">
            <h1>{{.Header}}</h1>
            <form>
                <table>
                    {{.Fields}}
                </table>
                <button onclick="sendForm()">Send</button>
            </form>
        </div>
    </div>
</body>

</html>
